@font-face {
    font-family: omoriSitelen;
    src: url(OMORI_GAME2.ttf);
}

.sitelen {
    font-family: omoriSitelen;
    font-size: 5em;
    white-space: pre-wrap;
}

.omo_box{
    border:6px white solid;
    box-shadow: 0 0 0 2px black;
}
.error {
    color: red;
}
